<% if @projects.blank? %>
    <p>There are not any projects currently in the system.</p>
<% else %>
    <p>These are the current projects in our system</p>
    <ul id="projects">
      <% @projects.each do |c| %>
          <li><%= link_to c.project_name, {:action => 'show', :id => c.id} -%>
            <b> <%= link_to 'Edit', {:action => "edit", :id => c.id} %></b></li>
      <% end %>
    </ul>
<% end %>
<p><%= link_to "Add new project", {:action => 'new' }%></p>